# Enforce LF line endings for all text files
* text=auto eol=lf

# Binary files should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.br binary
*.woff binary
*.woff2 binary
